*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


:root {
  --primary: #72aec8;
  --dark: #212529;
  --light: #f8f9fa;
  --accent: #ffc43f;
  --white: #ffffff;
  --gray: #6c757d;
}

/* start nav styling */
.nav_right ul{
    list-style:none;
}

.navbar{
    position:fixed;
    width:100%;
    background-color:#cfd4d8;
    z-index: 3000;
}

.nav_right{
    margin-right:50px;
}

.nav-item{
    color:#717171;
}

.nav-item a{
    transition:all 0.5s;
}

.nav-item a:hover{
    color:#C8E7FA;

}

.search_icon{
    transition:all 0.5s;
}

.search_icon:hover{
    color:#C8E7FA;
    cursor:pointer;
}

/* end nav styling */


/* the home section styling */
.home{
    background-color:#EDF1F3;
}

.carousel-item{
    position:relative;
    margin-left:750px;
    width:50%;
    height:900px;
}

.home_title{
    position:absolute;
    transform:translate(-125%, -190%);
    /* transform:translateX(50%); */
    text-transform:uppercase;
    font-size: calc(1.575rem + 3.9vw);
    line-height: 1.2;  
    color: #212529;
}

.btn_title{
    position:absolute;
    transform:translate(-250%, -450%);
    border:none;
    background-color:#212529;
    height:50px;
    width:250px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
}

/* carsoul */

.carousel-control-next-icon , .carousel-control-prev-icon{
    width:50px;
    height:50px;
    transform:scale(3);
    color:#212529;
    transition:all 0.4s;

}

.carousel-control-next-icon:hover , .carousel-control-prev-icon:hover{
    opacity:0.5;
    filter: invert(53%) sepia(93%) saturate(3000%) hue-rotate(170deg);
}


/* end of home section styling */


/* start company -services styling */
.company-services{
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    padding: 50px 0;

}
.icon
{
    color: var(--primary);
}
.service-title{
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 600;
    font-size: 1rem;
}
.service-description{
    color: var(--gray);
    font-size: 0.9rem;
    line-height: 1.5rem;
}

/* end company -services styling */

 /* start sale styling */
.sale
{
    background-color: var(--light); 
    display: grid;
    padding: 56px 0 0;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    overflow: hidden;
    
}
.sale-title{
    color: var(--dark);
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 56px;
}
.btn-primary
{
    max-width: 180px;
    background-color:#212529!important;
    border: none!important;
     text-transform: uppercase;

}
.subscribe{
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    background-color: var(--dark);
    color: var(--white);
    border: none;
    padding: 56px 20px;
    font-weight: 600;
    margin: 56px 0 ;
}

.submit-btn{
    background-color: var(--primary);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
}

/* end of sale section styling */


/* start of blog section styling */

.blog{
  margin-top:100px;
}

/* blog title styling */
.blog_title{
    display:flex;
    justify-content:space-between
}

.blog_title h2{
    margin-left:140px;

}

.blog_title a{
    margin-right:130px;
    text-decoration: none; 
    font-size: 1.1em; 
    letter-spacing: 2px;
    text-transform: uppercase; 
    color: #000
    
}

.blog_title a:hover{
    text-decoration:underline;
}

/* blog cards styling */

.blog_cards{
    margin-left:140px;
    display:flex;
    gap:20px;
}

.card{
    border:none;
    width:350px;
}

.card img{
    border-radius:10px;
}

.card-body{
    margin-left:3px;

}

.card-body h5{
    font-size: 15px;
    text-transform: uppercase !important;
    color: #6c757d;
}

.card-body a{
    text-decoration: none; 
    font-size: 20px; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    color: #000;
    transition:all 0.5s;
}

.card-body a:hover{
    color: blue;
    cursor:pointer;
}

/* end of blog section styling */


/* start of social section styling */
.insta-card img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.insta-card
{
    width: 19%;
    position: relative;
}
.insta-icon {
  position: absolute;
  top: 70%; /* Starts hidden below the card */
  left: 50%;
  width: 100%;
  height: fit-content;
  color: var(--white);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s ease-in-out;
}

.insta-card:hover .insta-icon {
    top: 50%; /* Slides up to the center */
    opacity: 1;
}

/* end of social section styling */

/* start of footer section styling */
footer
{
    color: var(--dark);
    gap: 30px;
    padding: 56px 20px !important;
}

footer h3{
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 20px;
    text-transform: uppercase;
}
footer p{
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: var(--gray);
}
footer a{
    color: var(--dark);
    text-decoration: none;
}
.shippment img,
.payment img {
  max-height: 24px;       
  width: auto;          
  object-fit: contain;
}

.shippment,
.payment {
  align-items: center;
  gap: 10px;             
}

.shippment p,
.payment p {
  margin: 0;
}

/* end of footer section styling */